.fab-main-container {
  position: relative;
}

.fab-menu {
  position: fixed;
  bottom: 92px;
  right: 32px;
  background-color: transparent;
}

.option-kit-desktop {
  position: fixed;
  right: 108px;
  bottom: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.overlay {
  background-color: transparent;
}

@media only screen and (max-width: 360px) {
  .fab-menu {
    bottom: 70px;
    right: 24px;
    z-index: 20;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
}
